
body {
  font: 12px/1.7em 'Open Sans', arial, sans-serif;
  background: #FFF;
  padding-bottom: 40px;
  color: #5a5a5a;
}

.title {
  padding-bottom: 5px;
  margin-bottom: 1em;
  border-bottom: 1px dotted #CCC;
}

h3 {
  font-size: 18px;
}

#flotTip {
  padding: 3px 6px !important;
  color: #FFF !important;
  font-size: 11px !important;
  text-align: center !important;
  text-decoration: none !important;
  background-color: #222 !important;
  border: 1px solid #000 !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

td.st {
	text-align: center;	
}

td.cnt {
	text-align: center;	
}

.lineChart {
    height: 150px;
    display: none;
}