
html {
    min-height: 100%;
    background: #000000 url('../img/bg.jpg') 100% 100% no-repeat;
    /*background: url('../img/arrow.png') fixed no-repeat bottom right, #C07B3A url('../img/bg.jpg') 100% 100% no-repeat; */
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    min-height: 100%;
    font: 20px/1.4 'PT Sans', sans-serif;
    color: #ffffff; /* rgba(218, 218, 218, 0.80);*/
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.66);
    background: transparent;
}

.modal {
    color: #333333;
    background-color: #ffffff;
    text-shadow: none;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.modal .modal-header {}

.popover-content {
    color: #FF0000;
    background: ##FFFF00;
    text-shadow: none;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.carousel-control {
	text-shadow: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.carousel-indicators {
	right: 50px;
}

.arrow {
	position:fixed; 
	position:expression("absolute"); 
	bottom:30px; 
	right:150px; 
	z-index: 9;	
}


/*
    Text elements
=================================================================*/

.heading {
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
    color: #bfd430;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.subtitle {
    margin-left: 40px;
}

.description {
	margin-left: 50px;
    margin-bottom: 40px;
    text-shadow: none;
}

.desc-url {
	margin-left: 40px;
    margin-bottom: 20px;
    color: #2f96b4;
}

.arrow {
    position:fixed; 
    position:expression("absolute"); 
    bottom:30px; 
    right:150px; 
    
}

.text-LG {
    color: #62c462;
}

.text-AB {
    color: #00afb5;
}


/*
    Responsiveness
=================================================================*/

@media (max-width: 979px) {
    html {
        background: #C07B3A url('../img/bg.jpg') 100% 100% no-repeat;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media (max-width: 767px) {

	.carousel-control {
		display: none;
	}
	
	.heading {
    	margin-top: 40px;
    	margin-left: 10px;
	}
	
	
	.subtitle {
	    margin-left: 10px;
	}
	
	.description {
		margin-left: 10px;
	    margin-bottom: 20px;
	}
	
	.desc-url {
		margin-left: 10px;
	    margin-bottom: 10px;
	}
		
	.arrow {
		display: none;
	}
}

@media (max-width: 480px) {
	
	.carousel-control {
		display: none;
	}
	
	.heading {
    	margin-top: 40px;
    	margin-left: 10px;
	}
	
	
	.subtitle {
	    margin-left: 10px;
	}
	
	.description {
		margin-left: 10px;
	    margin-bottom: 20px;
	}
	
	.desc-url {
		margin-left: 10px;
	    margin-bottom: 10px;
	}
		
	.arrow {
		display: none;
	}
		
	
}
